<!-- <footer> -->
<div class="footer-content">
    <div class="footer-content-left">
        <h2>CAVERN RECORDS</h2>
        <p>Acacias 1589, Cerro Alto, Argentina</p>
        <p>+549 3468 45678921</p>
        <p>cavern-records@gmail.com</p>
        <h3>Copyright© CAVERN RECORDS Todos los Derechos Reservados.</h3>
    </div>
    <div class="footer-content-right">
        <i class="fa-brands fa-facebook fa-2xl"></i>
        <i class="fa-brands fa-twitter fa-2xl"></i>
        <i class="fa-brands fa-instagram fa-2xl"></i>
        <i class="fa-brands fa-tiktok fa-2xl"></i>
        <i class="fa-brands fa-whatsapp fa-2xl"></i>
    </div>

</div>
<!-- </footer> -->