<!-- <header> -->
<div class="header-top-bar">
    <i class="fa-solid fa-circle-chevron-down fa-2x"></i>
    <i class="fa-solid fa-circle"></i>
    <div class="logo">
        <img src="/images/logo/logo_300dpi.png" />
    </div>
    <i class="fa-solid fa-circle"></i>
    <i class="fa-solid fa-cart-shopping fa-2x"></i>
</div>
<div class="search-bar">
    <input class="placeholder" type="text" placeholder="Buscar disco..." />
</div>
<!-- </header> -->