<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header class="header">
        <%- include('./partials/header.ejs') %>
    </header>

    <main class="main">

        <!-- <a href="/panel">Panel</a> -->

        <%- include('./partials/productCardsAll.ejs') %>
    </main>

    <footer class="footer">
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>

</html>